body {
    font-family: 'Didact Gothic', sans-serif;
    background-image: url("../images/background.png");
    background-position: center;
    background-size: 100%;
}
/* header formatting */

/* .logo-placehold {
    height: 100px;
    width: 200px;
    background-color: white;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
} */

.logo {
    height: 100px;
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.cart {
    height: 25px;
    width: 25px;
    position: absolute;
    right: 10px;
    top: 12px;
}

header {
    background-color: #0A2225;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    z-index: 100;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5)
}


/* hero formatting */

.hero {
    position: relative;
}

.hero-img {
    object-fit: cover;
    width: 100vw; 
}

.hero-text-container {
    position: absolute;
    top: 30%; left: 10%;
}

h1 {
    margin: 10px;
    font-size: 2em;
    color: white;
    transform: skew(-11deg, -11deg);
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin: 5px;
    max-width: 200px;
    color: white;
    transform: skew(-11deg, -11deg);
    display: none;
}

/* product formatting */

.flex-container {
    width: 100vw;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: rgba(10, 34, 37, 0.6); */
    /* box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5); */
    background-image: url("../images/border-bg-01.svg");
    background-size: 700px;
}

.vigor {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.product-img {
    height: 125px;
    width: 125px;
}

.add-to-cart {
    position: absolute;
    height: 30px; 
    width: 30px;
    top: 0;
    right: 0;
    background-color: rgba(64, 95, 99, 0.7);
    border-radius: 50%;
    /* display: none; */
}

.product-info-box {
    width: 150px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgba(64, 95, 99, 0.7);
    border: 1px solid rgb(37, 36, 36);
    padding: 10px;
}

.product-text {
    font-size: 12px;
    margin: 8px 0 8px 8px;
}

/* Cart */

.cart-container {
    display: none;
    background-color: rgba(37, 36, 36, 0.9);
    color: #fff;
    width: 20%;
    position: absolute;
    top: 9%;
    right: 0%;
    z-index: 1;
    padding: 5px;
}

.form-title {
    font-size: 20px;
}

.checkout-item {
    border-bottom: 1px solid gray;
    padding: 5px;
}

.delete-item {
    width: 15px;
    height: 20px;
}

.checkout-btn {
    color: #fff;
    height: 30px;
    width: 100%;
    border: none;
    background-color: black;
}

button:hover {
    background-color: rgb(64, 95, 99);
}

.material-icons {
    float: right;
    color: gray;
}

/* Checkout */

.checkout-container {
    background-color: rgba(37, 36, 36, 0.9);
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 30%;
    width: 40%;
    padding: 5px;
}

.total {

}

.payment-btn {
    color: #fff;
    height: 30px;
    width: 100%;
    border: none;
    background-color: black;
}

/* Payment */

.payment-container {
    background-color: rgba(37, 36, 36, 0.9);
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 30%;
    width: 40%;
    padding: 5px;
}

.payment-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.input {
    color: #fff;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    padding: 10px;
}

.submit-btn {
    color: #fff;
    height: 30px;
    width: 100%;
    border: none;
    background-color: black;
}

/* Receipt */

.receipt-container {
    background-color: rgba(37, 36, 36, 0.9);
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 30%;
    width: 40%;
    padding: 5px;
}

/* media queries */

@media only screen and (min-width: 384px) {

    h1 {
        width: 150px;
        font-size: 40px;
    }

    .vigor {
        margin: 25px;
    }
}

@media only screen and (min-width: 450px) {

    h1 {
        width: 150px;
        font-size: 40px;
    }

    .vigor {
        margin: 10px;
    }
}

@media only screen and (min-width: 564px) {
    .hero, .hero-img {
        max-width: 80vw;
        margin: 0 auto;
    }
    
    .flex-container {
        max-width: 80vw;
    }

    h1 {
        margin: 0;
    }

    h2 {
        display: block;
        font-size: 15px;
        margin: 0;
    }

}

@media only screen and (min-width: 724px) {
    .hero, .hero-img {
        max-width: 70vw;
        margin: 0 auto;
    }
    
    .flex-container {
        max-width: 70vw;
    }


    h2 {
        display: block;
        font-size: 20px;
    }

}



@media only screen and (min-width: 828px) {
    .hero, .hero-img {
        max-width: 65vw;
        margin: 0 auto;
    }
    
    .flex-container {
        max-width: 65vw;
    }

    .vigor {
        margin: 25px;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        display: block;
        font-size: 20px;
    }
    

}

@media only screen and (min-width: 1076px) {
    .hero, .hero-img {
        max-width: 65vw;
        margin: 0 auto;
    }
    
    .flex-container {
        max-width: 699px;
    }
}